{% extends 'base.html.twig' %}

{% block title %}Mon compte - Boutique Symfony{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <p>
        Bienvenue {{ app.user.firstname }} !
        <br>
        C'est dans cet espace que vous pourrez gérer vos informations personnelles.
    </p>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
        <a class="list-group-item list-group-item-action list-group-item-danger" href="{{ path('app_logout') }}">Déconnexion</a>        
    </div>

{% endblock %}
