{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Boutique Symfony{% endblock %}

{% block content %}
    {% if notification %}
        <div class="alert alert-{{ notification.color }}" role="alert">{{ notification.message }}</div>
    {% endif %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {{ form(passwordForm) }}
{% endblock %}